{{set . "title" "Home"}}
{{template "header.html" .}}
{{template "flash.html" .}}

<div class="row">
  <form id="findrepo" method="POST" action="/">
    <div class="row collapse">
      <div class="large-8 columns">
        <input type="text" name="repository" required placeholder="user/repo">
      </div>
      <div class="large-4 columns">
        <input class="button prefix" type="submit" value="Review Repository">
      </div>
    </div>
  </form>
</div>
<div class="row">
  <ul class="small-block-grid-2 large-block-grid-3">
    {{ range .repos }}
    <li>
      <a href="/github/{{.User}}/{{.Name}}">{{.User}}/{{.Name}}</a>
      <p>
        {{ if .Review }}
        {{ .Review.ChecksPassed }} / {{ len .Review.Checks }} code checks passed
        {{ else }}
        Generating report...
        {{ end}}
      </p>
    </li>
    {{ end }}
  </ul>
</div>


{{template "footer.html" .}}

